@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import 'tailwindcss';
@import './theme.css';

:root {
  --header-height: 3.75rem;
  --swiper-color-background: rgb(33 33 33 / 60%);

  font-family: Inter, sans-serif;
  color-scheme: dark;
  background-color: rgb(13 13 13);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

input[type='password']::-ms-reveal,
input[type='password']::-ms-clear {
  display: none;
}

@media (width <= 768px) {
  .radix-dialog {
    width: 100%;
  }
}
